body {
    background-color: white;
}

/* This code splits the page into 4 */
html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }

/* Position of the slideshow */
#slideshow {
  margin: 0;
  position: relative;
}

/* Position of the image within the slideshow */

#slideshow > div {

  position: absolute;

}
