
/* This code splits the page into 4 */
html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }

/* Position of the slideshow */
#slideshow1 {

  background: no-repeat url("http://static5.businessinsider.com/image/53f779dc6bb3f7f305edb7b1-1190-625/a-young-steve-jobs-smelled-so-bad-he-had-to-be-put-on-the-night-shift-at-atari.jpg");
  background-size: cover;

}

#slideshow2 {
  background: no-repeat url("https://upload.wikimedia.org/wikipedia/commons/1/10/GraceHopper2.jpg");

  background-size: cover;
}

#slideshow3 {
  background: no-repeat url("https://upload.wikimedia.org/wikipedia/commons/1/10/GraceHopper2.jpg");

  background-size: cover;
}

#slideshow4 {
  background: no-repeat url("http://static5.businessinsider.com/image/53f779dc6bb3f7f305edb7b1-1190-625/a-young-steve-jobs-smelled-so-bad-he-had-to-be-put-on-the-night-shift-at-atari.jpg");

  background-size: cover;
}
